h1{
    color:red;
    background-color: plum;
    border-radius: 25px;
    padding-left: 1px solid;
    text-align: center;
}
h2{
    color:blueviolet;
    background-color:black;
    border-bottom: 50px ;
    padding-right: 2px;
    text-align: center;
}
p {
    color:red;
    background-color:black;
    border-radius: 30px;
    text-align: center;
    
}
.table, th, td, tr {
    color:white;
    background-color:palevioletred;
    text-align: center;
